
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>
    <h1>Admin Panel - Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td>
                    <!-- Botones para modificar roles o eliminar usuarios -->
                    <button onclick="modifyRole('{{this._id}}')">Modificar Rol</button>
                    <button onclick="deleteUser('{{this._id}}')">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>
